@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


:root {
}

*{
  box-sizing: border-box;
}

body {
  background-color: #191a1c;
  margin: 0;
  padding: 0; 
  
    
}

@layer utilities {
  /*  */
}

@font-face{
  font-family: 'Outfit Sans';
  src: url('/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Exo2';
  src: url('/Exo2-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Questrial';
  src: url('/Questrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.text-stroke {
  -webkit-text-stroke: 2px #7bb853; 
  color: transparent; 
}